#banner {
    background-image: url("images/3D-print-food.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.button.alt {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-weight: 800;
}

#hungry {
    color: white ;
}