#banner {
    background-image: url("images/3D-print-food.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.button.alt {
    color: white;
}

#title{
    color: white;
    font-weight: 800;
}

#hungry {
    color: white ;
}

.boxid {
    color: black;
}
#bannerid {
    color: white;
}